// BEGIN SLIDING PANEL navBar

.sliding-panel-content {
  @include position(fixed, 0 auto 0 0);
  @include size(em(220px) 100%);
  background: $sliding-panel-background;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  transform: translateX(em(-220px));
  transition: all 0.25s linear;
  z-index: 999999;

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
  }

  li a {
    display: block;
    padding: 1em;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    font-size: 1.1em;
    line-height: 1.5;
    color: $white;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .2em;
    border-bottom: $sliding-panel-border;
    color: $white;
    &:focus {
      background-color: $sliding-panel-background-focus;
    }

    &:hover {
      background-color: $sliding-panel-background-hover;
      color: $kerrAccent;
    }
  }
  &.is-visible {
    transform: translateX(0);
  }
  svg {
    width: 2.5em;
  }
  .navSub {
    padding: 0 0 0 2.5em;
    font-family: 'ITCOfficinaSansStdBookRg', $georgia, serif;
    font-weight: normal;
    font-size: 1.1em;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .01em;
    border: 0px;
    color: $white;
    margin: 0;
  }

  .aboutSub {
    display: none;
  }
  li.about:hover ul.aboutSub {
    display: block;
  }

  .capabilitiesSub {
    display: none;
  }
  li.capabilities:hover ul.capabilitiesSub {
    display: block;
  }

  .workSub {
    display: none;
  }
  li.work:hover ul.workSub {
    display: block;
  }

  .careersSub {
    display: none;
  }
  li.careers:hover ul.careersSub {
    display: block;
  }

  .contactSub {
    display: none;
  }
  li.contact:hover ul.contactSub {
    display: block;
  }


}



.sliding-panel-fade-screen {
  @include position(fixed, 0);
  background: black;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  visibility: hidden;
  z-index: 999998;

  &.is-visible {
    opacity: 0.4;
    visibility: visible;
  }
}

.sliding-panel-button {
  cursor: pointer;
  display: inline-block;
  outline: none;
  padding: 10px 16px;
  position: relative;

  img {
    height: 1.3em;
  }
}

// dropdown menu


.dropdown {
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-line-height: 1.5em !default;
  $base-background-color: white !default;
  $dark-gray: #333 !default;
  $large-screen: 53.75em !default;
  $base-font-color: $dark-gray !default;
  $dropdown-color: $base-font-color;
  $dropdown-description-color: lighten($dropdown-color, 40%);
  $dropdown-border: 1px solid silver;
  $dropdown-background: $base-background-color;
  $dropdown-background-hover: darken($dropdown-background, 3%);
  $dropdown-inner-border: 1px solid silver;
  $dropdown-height: 40px;
  $dropdown-padding: 1em;
  $dropdown-distance-from-menu: 50px;
  $dropdown-arrow-top-distance: 0;

  line-height: $base-line-height;

  .dropdown-container {
    display: none;
    // display: inline-block;
    position: relative;
    text-align: center;
  }

  .dropdown-description {
    background: $dropdown-background;
    border-bottom: $dropdown-border;
    border-bottom-left-radius: $base-border-radius;
    border-left: $dropdown-border;
    border-top-left-radius: $base-border-radius;
    border-top: $dropdown-border;
    color: $dropdown-description-color;
    float: left;
    font-size: 0.7em;
    line-height: $dropdown-height;
    margin: 0;
    padding: 0 ($dropdown-padding / 2) 0 $dropdown-padding;

    @include media($large-screen) {
      font-size: 1em;
    }
  }

  .dropdown-button {
    background: $dropdown-background;
    border-bottom: $dropdown-border;
    border-bottom-right-radius: $base-border-radius;
    border-right: $dropdown-border;
    border-top: $dropdown-border;
    border-top-right-radius: $base-border-radius;
    cursor: pointer;
    float: right;
    font-size: 0.7em;
    line-height: $dropdown-height;
    margin: 0;
    padding: 0 ($dropdown-padding * 2.5) 0 ($dropdown-padding / 2);
    position: relative;

    @include media($large-screen) {
      font-size: 1em;
      padding: 0 ($dropdown-padding * 2.5) 0 ($dropdown-padding / 2);
    }
  }

  .dropdown-button:hover {
    background-color: $dropdown-background-hover;
  }

  .dropdown-button::after {
    color: $base-font-color;
    content: "\25BE";
    display: block;
    position: absolute;
    right: $dropdown-padding;
    top: $dropdown-arrow-top-distance;
  }

  .dropdown-menu {
    background: $dropdown-background;
    border: $dropdown-border;
    border-radius: $base-border-radius;
    box-shadow: 0 2px 2px transparentize(black, 0.8);
    color: $dropdown-color;
    cursor: pointer;
    display: none;
    margin: 0;
    overflow: show;
    padding: 0;
    position: absolute;
    right: 0;
    top: $dropdown-distance-from-menu;
    transition: all 0.2s ease-in-out;
    width: 228px;
    z-index: 99999;

    &::before {
      @include position(absolute, 0 1em 0 0);
      color: $dropdown-background;
      content: "\25b2";
      font-size: 1.4em;
      pointer-events: none;
      text-shadow: 0 -2px 2px transparentize(black, 0.7);
      top: -0.7em;
    }
  }

  .dropdown-menu li {
    border-bottom: $dropdown-inner-border;
    color: $dropdown-color;
    list-style: none;
    padding: $dropdown-padding / 2;
  }

  .dropdown-menu li:hover {
    background: $dropdown-background-hover;
  }

  .dropdown-menu li:first-child {
    border-top-left-radius: $base-border-radius;
    border-top-right-radius: $base-border-radius;
  }

  .dropdown-menu li:last-child {
    border: 0;
    border-bottom-left-radius: $base-border-radius;
    border-bottom-right-radius: $base-border-radius;
  }

  .show-menu {
    display: block;
  }
}
// Inspired by code by www.HUSAMUI.com




// Based on code by Diego Eis






header {
  // @include filter(drop-shadow(3px 0px 4px tint($grey,5%)));
  background: $white;
  width: 100vw;
  height: 8.5vh;
  margin:0;
  padding: 0em .5em;
  position: fixed;
  top:0;
  left:0;
  z-index: 1000;
}
.navBar {
  border: 1px solid red;
  width: 100%;
  height: 8.5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0em 0em 0em 0em;
}
.logoBar {
  width: 33.3333333%;
  // width: 85%;
  height: 100%;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 0;
  padding: 0;
}
.logo {
  align-self: center;
  width:13%;
  height: 100%;
  max-width: 4.5em;
  margin-right:1em;
  padding:0;
  svg {
    @include filter(drop-shadow(1px 1px .5px darken($grey,15%)));
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
  }
}
.name {
  align-self: center;
  width:87%;
  height: 100%;
  margin: 0;
  padding: 0;
  a svg {
    @include filter(drop-shadow(1px 1px .5px darken($grey,35%)));
    width:100%;
    max-width: 22.5em;
    height: 100%;
    text-align: center;
    margin:0;
    padding: 0;
  }
}
.largeNav {
  border: 1px solid red;
  width: 66.66666666%;
  height: 100%;
  align-self: center;
  margin: 0em;
  padding:0;
  ul {
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: center;
    margin:0;
    padding:0;
    li {
      text-align: right;
      align-self: center;
      width:16.6666666666%;
      height: 100%;
      margin:0;
      padding:0;
    }
    a {
      align-self: center;
      font-family: 'PreloSlabMedium', $georgia, serif;
      font-size: 1em;
      line-height: 1.5;
      color: $grey;
    }
  }
}
.dropdown-container {
  width: 0%;
}
.menuIcon {
  width: 0%;
  // width: 15%;
  height: 100%;
  align-self: center;
  margin:0;
  padding:0;
  display: flex;
  a svg {
      @include filter(opacity(0.7));
      width: 100%;
      max-width: 4.5em;
      min-width: 2.75em;
      height: 100%;
      // max-width: 5em;
      margin:0;
      padding: 0;
    }
  }
